
<div id="user-form"></div>
<div id="">
   
    <% if user_signed_in? %>
        <div id="calendar" style="height: 800px;"></div>
    <% else %>
        <%= render partial: "layouts/welcome" %>     
    <% end %>
  
  

</div>
<script>
    
</script>