
<div id="user-form"></div>
<div id="">
    <div class="alert alert-primary" role="alert">
        <%= @name %>
    </div>

    
    <div id="el_app">
    </div>



    <div id="calendar" style="height: 800px;"></div>
    

</div>
<script>
    
</script>