
<div style="height:100vh;padding-top: 10%;">

<div class="jumbotron" style='padding-top:10%'>
    <div class="container text-center">
        <h1 class="display-3">Hello, Rails!</h1>
        <h3>
            Este é um sisteminha desenvolvido para cadastrar os eventos, porém pode ser utilizado para armazenar horários de salas também. 
            <br/>
            Fique a vontade para testá-lo. 
            <br/>

            Muito Obrigado <br/>
            <br/>
            
        </h3>
        <%= link_to "Sou novo por aqui", new_user_registration_path, :class => 'btn btn-outline-primary'  %> 
        <%= link_to "Já me cadastrei antes", new_user_session_path, :class => 'btn btn-outline-primary'  %>
        
    </div>
    <br/>
    <blockquote class="blockquote">
            <p class="mb-0">E não é que funciona?.</p>
            <footer class="blockquote-footer">Alguém famoso na <cite title="Título da fonte">do rails</cite></footer>
        </blockquote>
</div>

</div>
<br/>
    

